pillow==11.3.0
opencv-python-headless==4.12.0.88
python-multipart==0.0.20
keyring==25.6.0
trustme==1.2.1
platformdirs==4.3.8
sse-starlette==2.4.1
ngrok==1.4.0
numpy==2.2.6
onnxruntime==1.22.1
huggingface_hub==0.33.4
pandas-stubs
# h11<0.15,>=0.13
# cryptography<45,>=41.0.5
cryptography==45.0.5
#